body {
  margin: 0;
  font-family: "Rubik Dirt", system-ui;
  background-color: #ebedeb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle-card {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  color: #2d2f2d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-card .icon {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

.circle-card .label {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.circle-card .amount {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 0.25rem 0;
}

.circle-card .since {
  font-size: 0.95rem;
  color: #676767db;
}

.circle-card .text {
  font-size: 1.25rem;
  color: #363434;
  margin: 1rem 6rem 0 6rem;
  font-weight: 300;
  font-family: "Zain", sans-serif;
  text-align: center;
}

.corner {
  position: absolute;
  width: 250px; /* adjust for size */
  height: 150px;
  z-index: 1;
  /* background-color: #2d2f2d; default color or override per corner */
  clip-path: polygon(0 0, 100% 0, 0 100%); /* triangle shape */
}

/* Position each */
.top-left {
  top: 0;
  left: 0;
  background-color: #1d97ab82;
}

.top-right {
  top: 0;
  right: 0;
  /* background-color: #ffffff; */
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}

.bottom-left {
  bottom: 0;
  left: 0;
  /* background-color: #ffffff; */
  clip-path: polygon(0 100%, 100% 100%, 0 0);
}

.bottom-right {
  bottom: 0;
  right: 0;
   background-color: #4ba37d82;
  clip-path: polygon(100% 100%, 0 100%, 100% 0);
}

span {
    font-weight: 600;
}

.footer {
  flex-shrink: 0;
  color: white;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer a {
  color: #5f5b5b;
}